{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container py-4">
    <img src="/static/images/about_bg.png" alt="" style="width:100%; margin-bottom:20px;">
    <p align="justify">
        ООО «Aurost Media» предлагает свои услуги по
        созданию качественной и современной печатной продукции. Наше предприятие
        предоставляет целый ряд услуг, в зависимости от потребностей клиента.
    </p>
    <p align="justify">
        Производственный комплекс предприятия оснащён полиграфическим
        оборудованием от производителей с «HEIDELBERG», «KBA», «KOLBUS», «HORIZON»,
        «MANUGRAPH», «PERFECTA», «POLAR», «BIELOMATIK» и др., что позволяет оказывать
        полный комплекс полиграфических услуг на высоком уровне.
    </p>
    <p align="justify">
        В первую очередь — это оперативная печать — идеальное решение для тех, кто
        предпочитает с экономить время и быстро получить максимально качественный результат.
    </p>
    <p align="justify">
        «Aurost Media» делает предложение, которое может быть актуальным при необходимости
        что-либо напечатать в кратчайшие сроки.
    </p>
    <p align="justify">
        Параллельно «Aurost Media» оказывает ряд услуг с допечатной подготовкой материала.
        Это может быть разработка уникального, совершенного дизайна, отвечающего всем современным
        мировым тенденциям, его оптимизация под конкретную целевую аудиторию заказчика и последующая
        верстка.
    </p>
    <p align="justify">
        Верстка, которую предлагает «Aurost Media», позволит собрать воедино всю информацию на
        странице и сделать ее оригинальной. В этом отношении необходимо отметить, что разработкой
        дизайна и версткой занимаются настоящие профессионалы, опытные дизайнеры, способные перенести
        на бумагу все пожелания клиента.
    </p>
    <p align="justify">
        Качество созданной композиции находится на самом высоком уровне. Печать может быть офсетной,
        цветной, что, несомненно, станет оптимальным решением при необходимости создания качественной
        продукции. Также «Aurost Media» предлагает редактирование отдельных элементов композиции
        либо всей работы.
    </p>
    <p align="justify">
        Данный процесс может осуществляться при непосредственном участии заказчика, так как именно его
        пожелания, видение конечного результата проекта дают наиболее высокие результаты. При этом
        «Aurost Media» позволяет решить вопрос с печатью заказов самого разного объема. При отсутствии
        необходимости допечатной доработки, заказ может быть выполнен в минимальные сроки. Это достигается
        благодаря дорогостоящему и уникальному, точному, позволяющему печатать с отличным разрешением и в
        высоком темпе оборудованию. Использование новейших достижений в области печати, качественного современного
        оборудования, а также профессионализм сотрудников делают высоким уровень сервиса, который оказывает
        «Aurost Media».
    </p>
</div>
{% endblock content %}