{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container py-4">

   <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A106d1e328db095b03b2f07f0a4b43ef13515610eab39ffe3d4559c038e442793&amp;width=100%25&amp;height=427&amp;lang=ru_RU&amp;scroll=true"></script>
    <p class="pt-5">
        <b>Режим работы:</b> Понедельник - Суббота   09:00 - 18:00
    </p>
    <p class="pt-2">
        <b>Телефон:</b> +7 (999) 777-77-77
    </p>
    <p class="pt-2 pb-5 mb-5">
        <b>Email:</b> aurost@media.ru
    </p>
</div>

{% endblock content %}